* {
    /* padding: 0; */
    margin: 0;
    font-family: 'Architects Daughter', cursive;
}
/* Styles the header */
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 53px;
    padding-right: 53px;
}

/* Styles the logo */
#logo{
    width: 97px;
    height: 95px;
}

/* Styles the nav menu */
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 24px;
    color: #F69F30;
}
/* Styles the login text */
.nav-menu > :last-child{
    font-weight: bold;
}
body{
    background-image: url("/assets-about/matwana-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.about-full{
    padding: 50px 50px;
}
.about-one{
    background-color: rgb(59, 55, 55);
    border-radius: 25px;
    padding: 30px;
    height: 330px;
    display: flex;
    justify-content: space-around;
}
.about-bus{
    height: 288px;
    width: 285px;
    border-radius: 50%;
}
.about-text-box{
    background-color: cornsilk;
    height: 288px;
    width: 1100px;
    border-radius: 25px;
    text-align: center;
    
}
.about-text{
    font-size: 25px;
}
.our-teams-box{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(59, 55, 55);
    border-radius: 25px;
    height: 400px;
}
.matwana-h{
    padding-top: 10px;
    color:#f69f30;
    font-size: 80px;
}
.our-teams-h{
    padding-top: 30px;
    padding-bottom: 15px;
    color:#f69f30;
    font-size: 45px;
}
.office-locations-h{
    padding: 30px;
    color:#f69f30;
    font-size: 45px;
}
.our-teams{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.tech-support{
    flex-grow: 1;
}
.teams-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 5px;
}
.booking{
    flex-grow: 1;
}
.hire{
    flex-grow: 1;
}
.logistics{
    flex-grow: 1;
}
.complaints{
    flex-grow: 1;
}
.teams-p{
    font-size: 19px;
    color: white;
}
.teams-phone{
    padding: 5px;
    font-size: 17px;
    font-style: italic;
}

.office-locations-box{
    margin-top: 50px;
    background-color: rgb(59, 55, 55);
    border-radius: 25px;
    height: 500px;
    text-align: center;
}
h3{
    font-size: 25px;
    color: white;
}
.office-locations{
    display: flex;
}
.railway{
    flex-grow: 1;
}
.bus-station{
    flex-grow: 1;
}
.odeon{
    flex-grow: 1;
}
.archives{
    flex-grow: 1;
}
.muthurwa{
    flex-grow: 1;
}
hr{
    border: none;
    border-left: 1px solid #f69f30;
    height: 18vh;
    width: 1px;
    opacity: 25%;
}
.chat-box{
    margin: 50px auto;
    height: 100px;
    width: 690px;
    border: #f69f30 solid 1px;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}
.chat-h{
    font-size: 30px;
}
#email{
    width: 320px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f69f30 ;
    opacity: 80%;
}
#subscribe{
    width: 160px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f69f30 ;
    opacity: 80%;
    margin-left: 20px;
}
#Chat{
    /* padding: 1px; */
    width: 210px;
    /* height: 45px; */
    font-size: 20px;
    border-radius: 10px;
    background-color: #f69f30;
    opacity: 80%;
}