* {
    padding: 0;
    margin: 0;
    font-family: Calibri;
}
.about-full{
    padding: 150px 80px;
}
.about-one{
    background-color: rgb(59, 55, 55);
    padding: 30px;
    height: 330px;
    display: flex;
    justify-content: space-around;
}
.about-bus{
    height: 288px;
    width: 285px;
    border-radius: 50%;
}
.about-text-box{
    background-color: cornsilk;
    height: 288px;
    width: 1100px;
    border-radius: 25px;
    text-align: center;
}
.about-text{
    font-size: 25px;
}
.our-teams-box{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(59, 55, 55);
    height: 350px;
}
.matwana-h{
    padding: 30px;
    color:#f69f30;
    font-size: 50px;
}
.our-teams-h{
    padding: 30px;
    color:#f69f30;
    font-size: 45px;
}
.office-locations-h{
    padding: 30px;
    color:#f69f30;
    font-size: 45px;
}
.our-teams{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.tech-support{
    flex-grow: 1;
}
.teams-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 15px;
}
.booking{
    flex-grow: 1;
}
.hire{
    flex-grow: 1;
}
.logistics{
    flex-grow: 1;
}
.complaints{
    flex-grow: 1;
}


.office-locations{
    margin-top: 50px;
    background-color: rgb(59, 55, 55);
    height: 350px;
    text-align: center;
}