*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body{
    background-image: url(./homepage-image-assets/matwana\ 1440px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1415px;
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.sidebar{
    background-color: rgba(53, 50, 57);
    width: 255px;
    height: 1379px; 
    border-right: solid black 2px;
    padding-top: 36px;
    color: #A4A6B3;
}

.content-area{
    background-color: rgba(53, 50, 57, .96);
    width: 1300px;
    height: 1415px;
    padding-left: 32px;
    padding-right: 32px;
}

.logo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#logo{
    width: 36px;
    height: 33px;
}

.logo > :last-child{
    font-size: 18px;
    margin-top: 10px;
    margin-left: -60px;
}

.overview{
    width: 255px;
    height: 56px;
    background-color: #3D3B43;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 70px;
    font-size: 16px;
    border-left: solid #DDE2FF 3px;
    box-sizing: border-box;
    padding-left: 32px;
}

.overview > :first-child{
    color: #DDE2FF;
}

.overview > :last-child{
    padding-left: 32px;
}

.trips, .revenue, .contacts, .busses, .routes, .settings, .saved-profiles{
    width: 255px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 32px;
}

.trips > :last-child, .revenue > :last-child, .contacts > :last-child, .busses > :last-child, .routes > :last-child, .settings > :last-child, .saved-profiles > :last-child{
    padding-left: 32px;
}

.settings-container{
    margin-top: 32px;
    padding-top: 32px;
    border-top: solid #3B3840 3px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header > :first-child{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: -15px;
}

.user{
    color: #C5C7CD;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.user > :nth-last-child(2){
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    border-left: solid #DFE0EB 2px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user > img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    border: solid white 1px;
}

.user > :first-child, .user > :nth-child(2), .user > :nth-child(3){
    margin-right: 20px;
}

/* Positions the cards */
.cards{
    display: flex;
    justify-content: space-between;
}

/* Style the cards */
.first, .second, .third, .fourth{
    width: 276px;
    height: 134px;
    border: solid #DFE0EB 2px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

/* ##### Styles the cards ##### */
/* Text */
.first > :first-child, .second > :first-child,.third > :first-child, .fourth > :first-child{
    color: #9FA2B4;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

/* Digit */
.first > :last-child, .second > :last-child, .third > :last-child, .fourth > :last-child{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: -25px;
    cursor: pointer;
}

/* overides the card's style on hover*/
.first:hover, .first:hover p, .second:hover, .second:hover p,.third:hover, .third:hover p , .fourth:hover, .fourth:hover p{
    border-color: #F69F30;
    color: #F69F30;
}

.first:hover, .second:hover, .third:hover, .fourth:hover{
    box-shadow: 0 0 1px 2px rgba(96, 96, 96, .7);
}

/* Styles the graph section */
.graph-section{
    border: solid #DFE0EB 2px;
    border-radius: 8px;
    margin-top: 30px;
    height: 546px;
    display: flex;
    justify-content: space-between;
}

/* Styles the graph container */
.graph{
    padding: 32px; 
}

/* Graph headings */
/* Heading */
.graph-header > :first-child{
    font-weight: bold;
    color: white;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Positions the subheading and the time bars */
.graph-heading{
    display: flex;
    justify-content: space-between;
    width: 780px;
}

/* Sub-heading */
.graph-heading > :first-child{
    font-weight:300;
    font-size: 12px;
    color: #9FA2B4;
    margin-top: 8px;
}

/* Styles the data containers */
.data{
    width: 342px;
    height: 546px;
    border-left: solid #DFE0EB 1px;
}

/* graph time */
.graph-time{
    display: flex;
    justify-content: space-between;
    width: 172px;
}

/* graph time containers */
/* #### Today container #### */
#today{
    display: flex;
    justify-content: space-around;
}

/* Dash */
#today > :first-child{
    color: #F69F30;
    width: 16px;
    font-weight: bold;
    font-size: 16px;
    transform: scale(2, 1);
    margin-top: 3.5px;
    margin-right: 5px;
}

/* text */
#today > :last-child{
    color: #9FA2B4;
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #### Yesterday container #### */
#yesterday{
    display: flex;
    justify-content: space-around;
}

/* Dash */
#yesterday > :first-child{
    color: #DFE0EB;
    width: 16px;
    font-weight: bold;
    font-size: 16px;
    transform: scale(2, 1);
    margin-top: 3.5px;
    margin-right: 5px;
}

/* Text */
#yesterday > :last-child{
    color: #9FA2B4;
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}