*{
    margin: 0;
}

.body{
    background-image: url(./homepage-image-assets/matwana\ 1440px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1415px;
    display: flex;
    justify-content: column;
}

.sidebar{
    background-color: rgba(53, 50, 57);
    width: 255px;
    height: 1415px;
    border-right: solid black 2px;
}

.content-area{
    background-color: rgba(53, 50, 57, .96);
    width: 1300px;
    height: 1415px;
}