*{
    margin: 0;
}

.body{
    background-image: url(./homepage-image-assets/matwana\ 1440px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1415px;
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.sidebar{
    background-color: rgba(53, 50, 57);
    width: 255px;
    height: 1415px; 
    border-right: solid black 2px;
    padding-top: 36px;
    color: #A4A6B3;
}

.content-area{
    background-color: rgba(53, 50, 57, .96);
    width: 1300px;
    height: 1415px;
}

.logo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#logo{
    width: 36px;
    height: 33px;
}

.logo > :last-child{
    font-size: 18px;
    margin-top: 10px;
    margin-left: -60px;
}

.overview{
    width: 255px;
    height: 56px;
    background-color: #3D3B43;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 70px;
    font-size: 16px;
    border-left: solid #DDE2FF 3px;
    box-sizing: border-box;
    padding-left: 32px;
}

.overview > :first-child{
    color: #DDE2FF;
}

.overview > :last-child{
    padding-left: 32px;
}

.trips, .revenue, .contacts, .busses, .routes, .settings, .saved-profiles{
    width: 255px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 32px;
}

.trips > :last-child, .revenue > :last-child, .contacts > :last-child, .busses > :last-child, .routes > :last-child, .settings > :last-child, .saved-profiles > :last-child{
    padding-left: 32px;
}

.settings-container{
    margin-top: 32px;
    padding-top: 32px;
    border-top: solid #3B3840 3px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 40px;
}

.header > :first-child{
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user{
    color: #C5C7CD;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.user > :nth-last-child(2){
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    border-left: solid #DFE0EB 2px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user > img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    border: solid white 1px;
}

.user > :first-child, .user > :nth-child(2), .user > :nth-child(3){
    margin-right: 20px;
}

