*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
    background-image: url(./homepage-image-assets/matwana\ 1440px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1415px;
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.sidebar{
    background-color: rgba(53, 50, 57);
    width: 255px;
    height: 1379px; 
    border-right: solid black 2px;
    padding-top: 36px;
    color: #A4A6B3;
}

.content-area{
    background-color: rgba(53, 50, 57, .96);
    width: 1300px;
    height: 1415px;
    padding-left: 32px;
    padding-right: 32px;
}

.logo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#logo{
    width: 36px;
    height: 33px;
}

.logo > :last-child{
    font-size: 18px;
    margin-top: 10px;
    margin-left: -60px;
}

.overview{
    width: 255px;
    height: 56px;
    background-color: #3D3B43;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 70px;
    font-size: 16px;
    border-left: solid #DDE2FF 3px;
    box-sizing: border-box;
    padding-left: 32px;
}

.overview > :first-child{
    color: #DDE2FF;
}

.overview > :last-child{
    padding-left: 32px;
}

.trips, .revenue, .contacts, .busses, .routes, .settings, .saved-profiles{
    width: 255px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 32px;
}

.trips > :last-child, .revenue > :last-child, .contacts > :last-child, .busses > :last-child, .routes > :last-child, .settings > :last-child, .saved-profiles > :last-child{
    padding-left: 32px;
}

.settings-container{
    margin-top: 32px;
    padding-top: 32px;
    border-top: solid #3B3840 3px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header > :first-child{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: -15px;
}

.user{
    color: #C5C7CD;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.user > :nth-last-child(2){
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    border-left: solid #DFE0EB 2px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user > img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    border: solid white 1px;
}

.user > :first-child, .user > :nth-child(2), .user > :nth-child(3){
    margin-right: 20px;
}

/* Positions the cards */
.cards{
    display: flex;
    justify-content: space-between;
}

/* Style the cards */
.first, .second, .third, .fourth{
    width: 276px;
    height: 134px;
    border: solid #DFE0EB 2px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

/* ##### Styles the cards ##### */
/* Text */
.first > :first-child, .second > :first-child,.third > :first-child, .fourth > :first-child{
    color: #9FA2B4;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

/* Digit */
.first > :last-child, .second > :last-child, .third > :last-child, .fourth > :last-child{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: -25px;
    cursor: pointer;
}

/* overides the card's style on hover*/
.first:hover, .first:hover p, .second:hover, .second:hover p,.third:hover, .third:hover p , .fourth:hover, .fourth:hover p{
    border-color: #F69F30;
    color: #F69F30;
}

.first:hover, .second:hover, .third:hover, .fourth:hover{
    box-shadow: 0 0 1px 2px rgba(96, 96, 96, .7);
}

/* Styles the graph section */
.graph-section{
    border: solid #DFE0EB 2px;
    border-radius: 8px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #353239;
}

/* Styles the graph container */
.graph{
    padding: 32px; 
}

/* Graph headings */
/* Heading */
.graph-header > :first-child{
    font-weight: bold;
    color: white;
    font-size: 19px;
}

/* Positions the subheading and the time bars */
.graph-heading{
    display: flex;
    justify-content: space-between;
    width: 780px;
}

/* Sub-heading */
.graph-heading > :first-child{
    font-weight:300;
    font-size: 12px;
    color: #9FA2B4;
    margin-top: 8px;
}

/* Styles the data containers */
.data{
    width: 342px;
    border-left: solid #DFE0EB 1px;
}

/* graph time */
.graph-time{
    display: flex;
    justify-content: space-between;
    width: 172px;
}

/* graph time containers */
/* #### Today container #### */
#today{
    display: flex;
    justify-content: space-around;
}

/* Dash */
#today > :first-child{
    color: #F69F30;
    width: 16px;
    font-weight: bold;
    font-size: 16px;
    transform: scale(1.5, 1);
    margin-top: 3.5px;
    margin-right: 15px;
}

/* text */
#today > :last-child{
    color: #9FA2B4;
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
}

/* #### Yesterday container #### */
#yesterday{
    display: flex;
    justify-content: space-around;
}

/* Dash */
#yesterday > :first-child{
    color: #DFE0EB;
    width: 16px;
    font-weight: bold;
    font-size: 16px;
    transform: scale(1.5, 1);
    margin-top: 3.5px;
    margin-right: 15px;
}

/* Text */
#yesterday > :last-child{
    color: #9FA2B4;
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
}

/* ##### Graph ##### */
#graph{
    width: 755px;
    height: 480px;
    margin-top: 54px;
}


/* ######## Styles the data section ####### */
/* Section */
/* .data{
    padding-top: 32px;
    padding-bottom: 32px;
} */

/* Resolved */
.resolved, .avg-first, .avg-response, .received{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-bottom: solid #DFE0EB 1px;
    color: #9FA2B4;
    font-weight: 400;
    font-size: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.resolved > :last-child, .received > :last-child, .avg-first > :last-child, .avg-response > :last-child, .resolution > :last-child{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

/* Resolution */
.resolution{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #9FA2B4;
    font-weight: 400;
    font-size: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* #### Tickets and tasks container #### */
.tickets-tasks{
    display: flex;
    justify-content: space-between;
}

/* ### Styles the Tickets container ### */
.tickets{
    width: 576px;
    height: fit-content;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 32px;
    border: solid #DFE0EB 2px;
    border-radius: 8px;
    background-color: #353239;
}

/* Unresolved tickets title*/
#group-support > :first-child, #todays-tasks{
    font-size: 19px;
    font-weight: bold;
    color: white;
}

/* Group support container */
.group-support, .todays-tasks{
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

/* Group support text */
#group-support > :last-child, #todays-tasks > :last-child{
    color: #9FA2B4;
    font-size: 12px;
    margin-top: 15px;
}

#group-support > :last-child > span{
    color: white !important;
    opacity: 70%;
    font-weight: 500;
}

.group-support > :last-child, .todays-tasks > :last-child{
    color: #F69F30;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

/* ### Tickets containers ### */
/* Feature request and todays tasks */
.feature-request, .new-task{
    margin-top: 15px;
}


.feature-request, .customer-response, .developer-fix, .pending, .new-task, .ticket-update, .new-ticket, .ticket-report{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    border-bottom: solid white 1px;
}

/* Removes border bottom on pending */
.pending, .ticket-report{
    border: none;
}

/* value */
.feature-request > :last-child, .customer-response > :last-child, .developer-fix > :last-child, .pending > :last-child{
    color: #9FA2B4;
}

/* ##### Tasks ##### */
.tasks{
    width: 576px;
    height:fit-content;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 32px;
    border: solid #DFE0EB 2px;
    border-radius: 8px;
    background-color: #353239;
}

/* create new task text */
.new-task{
    color: #C5C7CD !important;
}

/* Create new task button */
#add-task{
    color: #9FA2B4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-top: -10px;
    width: 24px;
    height: 24px;
}

/* Aligns items in the ticket update in the center */
.ticket-update > div{
    display: flex;
    align-items: center;
}

.ticket-update > div > label{
    margin-left: 16px;
}

#ticket-update{
    border: solid #C5C7CD 2px;
    background-color: #353239;
    cursor: pointer;
}

#urgent{
    width: 74px;
    height: 24px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 11px;
    font-weight: bold;
    background-color: #FEC400;

}

.new-ticket > div{
    display: flex;
    align-items: center;
}

.new-ticket > div > label{
    margin-left: 16px;
}

.new-ticket > button{
    width: 54px;
    height: 24px;
    border: none;
    font-size: 11px;
    color: white;
    font-weight: bold;
    background-color: #29CC97;
    border-radius: 8px;
}


.ticket-report > div > label{
    margin-left: 16px;
}

.ticket-report > div{
    display: flex;
    align-items: center;
}

.ticket-report > button{
    color: #9FA2B4;
    background-color: white;
    font-size: 11px;
    width: 76px;
    height: 24px;
    border-radius: 8px;
    border: none;
}