/* Removes white space around the webpage */
*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles the body and adds a background image */
body{
    background-image: url("./homepage-image-assets/matwana\ 1440px.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-left: 40px;
    padding-right: 40px; */
}

/* ######## HEADER ######## */
/* Styles the header */
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 93px;
    padding-right: 93px;
}

/* Styles the logo */
#logo{
    width: 97px;
    height: 95px;
}

/* Styles the nav menu */
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 24px;
    color: #F69F30;
}

/* Styles the login text */
.nav-menu > :last-child{
    font-weight: bold;
}

/* ######## BODY ######## */
/* Styles the body heading */
#heading{
    color: white;
    font-size: 36px;
    font-weight: bold;
    width: 757px;
    margin-top: 80px;
}

/* Styles the body */
.body{
    padding-left: 173px;
    padding-right: 173px;
}

/* Styles the cards */

/* Aligns the cards horizontally */
.cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

/* Destination card */
.destination-card, .preferred-sacco, .select-vehicle{
    width: 310px;
    height: 288px;
    background-color: #F69F30;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: visible;
}

/* Styles the icons circle containers*/
.circle{
    background-color: #F69F30;
    width: 67px;
    height: 67px;
    border: 2px solid #353239;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

/* styles the icons */
.circle > i{
    font-size: 41px;
    color: #353239;
}

/* styles the heading text inside the cards */
.destination-card > p, .preferred-sacco > p, .select-vehicle > p{
    color: #353239;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    
}

/* Styles the select dropdown options */
#destinations{
    margin-top: 10px;
    font-size: 24px;
    width: 250px;
}

/* Adds top margin to the select time text*/
.destination-card > :nth-last-child(2){
    margin-top: 30px;
}

/* Styles the time selection */
#time{
    font-size: 24px;
    width: 250px;
    margin-top: 10px;
}

/* Styles the list items in the preferred sacco */
#preferred-sacco{
    background-color: white;
    width: 250px;
    margin-top: 10px;
    font-size: 24px;
}

/* Adds spacing between preferred sacco list items text */
#preferred-sacco > li, #select-vehicle > li{
    margin: 5px;
}

/* Styles the select vehicle list */
#select-vehicle{
    margin-top: 10px;
    font-size: 24px;
    width: 250px;
}

/* Styles the payment section */
.payment-section{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

/* Styles the payment select option */
.payment{
    background-color: #353239;
    width: 381px;
    height: 157px;
}

/* Styles the mode of payment text */
.select-vehicle > :nth-child(4){
    margin-top: 20px;
    font-size: 24px !important;
}

/* Styles the Buttons */
button{
    width: 126px;
    height: 41px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #F69F30;
    border: solid #353239 2px;
    color: #353239;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Styles the preferred sacco buttons */
#button{
    font-size: 14px;
}

/* Styles the first button */
.buttons > :first-child{
    border-radius: 5px 0 0 5px;
    margin-right: 5px;
}

/* Styles the second button */
.buttons > :last-child{
    border-radius: 0 5px 5px 0px;
    margin-left: 5px;
}

/* styles the lipa cash button */
#lipa-cash{
    width: 262px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

/* Styles the M-Pesa icon */
#m-pesa{
    width: 25px;
    height: 25px;
}

/* Styles the card Icon */
#card{
    width: 25px;
    height: 25px;
}

/* Styles the content inside the buttons */
.buttons{
    display: flex;
    justify-content: space-around;
}

/* Positions the number of seats text and number field */
.seats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

/* Styles the seats paragraph */
.seats > p{
    color: #353239;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

/* Styles the seats  */
#seats{
    margin-left: 5px;
    display: flex;
    align-items: center;
}

/* Styles the save text */
.save{
    margin-top: 20px;
    color: #353239;
    font-weight: bold;
    font-size: 24px;
}

/* Styles the footer container
.footer{   
    margin-top: 500px;
    height: 140px;
    background-color: #353239;
} */