/* Removes white space around the webpage */
*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles the body and adds a background image */
body{
    background-image: url("./homepage-image-assets/matwana\ 1440px.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 40px;
}

/* Styles the header */
.header{
    display: flex;
    justify-content: space-between;
}

/* Styles the logo */
#logo{
    width: 97px;
    height: 95px;
}

/* Styles the nav menu */
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 24px;
    color: #F69F30;
}

/* Styles the login text */
.nav-menu > :last-child{
    font-weight: bold;
}

