.header{
    display: flex;
    justify-content: space-between;
    padding-left: 53px;
    padding-right: 53px;
}

#logo{
    width: 97px;
    height: 95px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 24px;
    color: #F69F30;
}
.nav-menu > :last-child{
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    padding:10px;
}
body{
background-image: url(Images/matwana1440px.jpg);
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}

.login{
    padding: 10%;
    color: white;
}

.intro{
    margin-left: 40%;
    font-size: xx-large;
    width: fit-content;
}
.intro:hover{
    color: #F69F30;
}
#username{
    height: 350px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    margin-left: 40% ;
    color: white;
    padding: 20px;
    background-color: #353239;
}
 .usr{
     padding-top: 20px;
     height: 50px;
     width: 300px;
     border-bottom: solid #F69F30;
 }
 
.pswd{
    padding-top: 20px;
    height: 50px;
    width: 300px;
    border-bottom: solid #F69F30;   
}
#log{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border-color: #F69F30;
    background-color: #353239;
    color: white;

}
#log >:first-child{
    text-align: center;
}

i{
    size: 30px;
    padding: 5px;
    color: #F69F30;
}

/* .username:active{
   color: #F69F30;
} */