*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
input,button{
    border: none;
    outline: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}
.cont {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3) ,10px 10 15px rgba(70, 70, 70, 0.15),inset -10 -10px 15px  rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.form {
    position: relative;
    width: 640px;
    height: 100px;
    transition: transform 1.s ease-in-out;
    padding: 50px 30px 0;
}
