body {
    background-image: url(matwanaculture-20210504-0001.jpg);
    background-size: cover;
    font-family: fantasy;
}

.Signup-box {
    width: 360px;
    height: 620px;
    margin: auto background-color:white;
    border-radius: 3px;
}

h1 {
    text-align: center;
    padding-top: 15px;
}

h4 {
    text-align: center;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 320px;
    height: 320px;
    margin-top: 20px;
    border: none background-color:orange color:white;
    font-size: 18px;
}

p {
    text-align: center;
    padding-left: 20px;
    font-size: 15px;
}