* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 53px;
    padding-right: 53px;
}

#logo {
    width: 97px;
    height: 95px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 24px;
    color: #F69F30;
    border-radius: 2px;
}

.nav-menu> :last-child {
    font-weight: bold;
}

body {
    background-image: url(matwanaculture-20210504-0001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


form {
    text-align: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    width: 380px;
    margin:7% auto;
    border-radius: 25px;
    background-color:#0c0c0cb8;
    box-shadow: 0 0 17px #333;
    gap: 5px;
    height: fit-content;
    
}

input {
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #f7a32f;
    background-color: transparent;
}

button {
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: #212425;
    border-color: none;
    color: rgb(226, 154, 19);
    margin: top 20px;
    border-radius: 12px;
}

form h2 {
    margin-bottom: 30px;
    color: #f7a32f;

}

::placeholder {
    color: black
}